
.btnban {
    background-color: lightcoral;
    color: white;
    border: thick;
    font-family: 'Impact';
    font-weight: 100;
}

.btnapprove {
    background-color: lightgreen;
    color: white;
    border: thick;
    font-family: 'Impact';
    font-weight: 100;
}
