
.navbar-custom {
    background-color: lightblue;
}

    .navbar-custom .navbar-brand {
        color: white;
        font-size: 30px;
        font-weight: 100;
        font-family: 'Impact';
    }

#navbarDropdown {
    background-color: lightblue;
}

#clinicLogoTxt {
    padding-left: 260px;
    font-size: 36px;
    font-weight: 100;
    font-family: Impact;
}

#clinicLogoPic {
    padding-bottom: 10px;
}


.btn {
    background-color: lightblue;
    color: white;
    border: thick;
    font-family: 'Impact';
    font-weight: 100;
}
.margin{
    margin-left: 70%;
}

.text {
    color: black;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Impact';
}

th {
    background-color: lightblue;
}

.noborder {
    border: none;
}




