.navbar-custom {
    background-color: lightblue;
}

.navbar-custom .navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Impact';
}

#navbarDropdown {
    background-color: lightblue;
}
#clinicLogoTxt {
    padding-left: 260px;
    font-size: 36px;
    font-weight: 100;
    font-family: Impact;
}
#clinicLogoPic {
    padding-bottom: 10px;
}
.btn {
    background-color: lightblue;
    color: white;
    border: thick;
    font-family: 'Impact';
    font-weight: 100;
    margin-left: 200%;
}

.margin{
    margin-left: 70%;
}
.text {
    color: #014779;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Impact';
}
.textSurvey {
    color: black;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Impact';
    position: inherit;
}
label {
    color: #014779;
}
h4 {
    color: #014779;
    font-family: 'Impact';
    text-decoration: underline;
}
th {
    background-color: lightblue;
    color: #014779;
    font-family: 'Impact';
    font-weight: 100;
}
.noborder {
    border: none;
}