#Patient {
    background-image: url("../pictures/PatientBackgroundV10.jpg");
    background-repeat: no-repeat;
    height: 1068px;
}

#MyInformations {
    background-image: url("../pictures/MyInformationsResized.png");
    height: 150px;
    width: 150px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}
#FeedbackPatient {
    background-image: url("../pictures/feedback.jpg");
    background-repeat:repeat;
}
#AppointmentsShow {
    background-image: url("../pictures/AppointmentsResized.png");
    height: 150px;
    width: 150px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

#Account {
    background-image: url("../pictures/AdminBackground.jpg");
    padding-left: 10%;
    padding-right: 10%;
}
#SurveyShow {
    background-image: url("../pictures/TakeSurveyResized.png");
    height: 150px;
    width: 150px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}


#LeaveComment {
    background-image: url("../pictures/LeaveCommentResized.png");
    height: 150px;
    width: 150px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

#UserExp {
    background-color: white;
    color: #014779;
    font-family: Impact;
}

#Search {
    background-image: url("../pictures/SearchIconResized.png");
    height: 150px;
    width: 150px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

#UserExperiences {
    background-image: url("../pictures/UserExperiences.png");
    height: 150px;
    width: 150px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

#feedbackModalHeader {
    background-color: lightblue;
    color: white;
}
#feedbackModalBody {
    padding-top: 120px;
    background-color: white;
    color: white;
    font-family: Impact;
}
#feedbackModalFooter {
    background-color: lightblue;
    color: white;
}
label {
    font-size: 20px;
}

.textAndBackground {
    font-weight: bolder;
    color: white;
    background-color: lightblue;
}
.tableBorder {
    border: hidden;
    border-width: medium;
    border-collapse: separate;
    border-spacing: 0 15px;
    font-family: Impact;
    background-image: linear-gradient(to right, lightblue,white);
}

.xx {
    border-width: thick;
    background-image: linear-gradient(to right, lightblue,white);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    filter: invert(1);
}

.carousel-item:nth-child(3n+1) {
    background-image:url("/pictures/adv2.jpg");
    opacity: 0.8;
}

.carousel-item:nth-child(3n+2) {
    background-image: url("/pictures/medicine.jpg");
    opacity: 0.8;
}

.carousel-item:nth-child(3n) {
    background-image: url("/pictures/adv7.jpg");
    opacity: 0.8;
}

.cc {
    width: 900px;
    margin-left:20%;
}