#feedbackModalHeader {
    background-color: lightblue;
    color: white;
}
#feedbackModalBody {
    padding-top: 120px;
    background-color: lightblue;
    color: white;
    font-family: Impact;
    background-image: url("../pictures/rating.jpg");
}
#feedbackModalFooter {
    background-color: lightblue;
    color: white;
}
label {
    font-size: 20px;
}

.textAndBackground {
    font-weight: bolder;
    color: white;
    background-color: lightblue;
}
