@import url('file:///C:\Users\Administrator\Desktop\Novo\Healthcare-System\WebApplication\wwwroot\css\search.css');
.circleadd {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}
.circledelete {
    background-color: #ff0000;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}
.col {
    width: 80%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #014779;
}
select {
    text-align-last: center;
    height:95%;
}
.btnSearch {
    background-color: #014779;
    color: white;
    border: thick;
    font-family: 'Impact';
    font-weight: 100;
}
